body {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

    body::before {
        content: "";
        background-image: url('../images/bg.jpeg');
        background-size: 100% 100%;
        position: absolute;
        background-attachment: fixed;
        background-repeat: no-repeat;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        filter: brightness(50%)
    }

.hometxt {
    display: flex;
    justify-content: center;
    position: relative;
    color: #ffffff;
    font-size: 12rem;
    line-height: 0.6;
    text-align: center;
    padding-top:2em;
    left: 0px;
    height: 215px;
}