body {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.heading1 {
    position: absolute;
    top: 80px;
    font-size: 35px;
    /*font-family: Algerian;*/
    font-weight: bold;
    color: black;
    text-align: center;
    width: 350px;
}

.underline {
    text-decoration-color: forestgreen;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 50px;
}
