body {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.row1 {
    position: absolute;
    top: 65px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: grey;
    text-align: center;
    left: 50%;
    width: 300PX;
    right: 50%;
}

.row2 {
    position: absolute;
    top: 115px;
    font-size: 35px;
    /*font-family: Algerian;*/
    font-weight: bold;
    color: black;
    text-align: center;
    width: 300px;
    left: 43.5%;
}

.underline {
    text-decoration-color: forestgreen;
}

.img1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 60px;
    top: -150px;
}

.p {
    position: absolute;
    top: 300px;
}