/* Background Image*/

body::before {
    content: "";
    background-image: url('../images/bg.jpeg');
    background-size: 100% 100%;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}

.Label1 {
    position: relative;
    color: #ffffff;
    font-size: 12rem;
    line-height: 0.3;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 215px;
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -2147483648px;
    left: -979653%;
    transform: translate(-50%, -50%);
}

.readmore {
    position: relative;
    top: 667px;
    left: 925px;
    width: 400px;
}
